<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupthree.ordersystem.dao.AddressDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.groupthree.ordersystem.entity.Address">
        <id column="addressId" property="addressId" />
        <result column="userId" property="userId" />
        <result column="address" property="address" />
        <result column="contact" property="contact" />
        <result column="phoneNumber" property="phoneNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        addressId, userId, address, contact, phoneNumber
    </sql>
    <select id="getId" resultType="java.lang.Long">
        select SEQ_PARTY_ACCOUNT_ID.NEXTVAL from dual
    </select>
    <select id="getAddressVo" resultType="com.groupthree.ordersystem.vo.AddressVo">

    </select>

</mapper>
