<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupthree.ordersystem.dao.CommodityDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.groupthree.ordersystem.entity.Commodity">
        <id column="commodityId" property="commodityId" />
        <result column="commodityName" property="commodityName" />
        <result column="imagePath" property="imagePath" />
        <result column="price" property="price" />
        <result column="commodityDesc" property="commodityDesc" />
        <result column="createDate" property="createDate" />
        <result column="updateDate" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        commodityId, commodityName, imagePath, price, commodityDesc, createDate, updateDate
    </sql>
    <select id="getId" resultType="java.lang.Long">
        select SEQ_PARTY_ACCOUNT_ID.NEXTVAL from dual
    </select>
    <select id="getCommodityPage" resultType="com.groupthree.ordersystem.vo.CommodityVo">
        select * from commodity
    </select>
    <insert id="insertOne">
        insert into commodity(commodityName,imagePath,price,commodityDesc) 
        values(#{commodityName},#{imagePath},#{price},#{commodityDesc})
    </insert>
    <update id="updateByCommodityId">
        update commodity 
        set
             <if test ="commodityName != null and commodityName != ' '">
                commodityName=#{commodityName},
             </if>
             <if test ="imagePath != null and imagePath != ' '">
                imagePath=#{imagePath},
             </if> 
             <if test ="price != null and price != ' '">
                 price=#{price},
             </if>
         where commodityId=#{commodityId}
    </update>
    <select id="getShowCommodityList" resultType="com.groupthree.ordersystem.vo.ShowCommodityVo">

    </select>
    <select id="getBycommodityName" resultMap="BaseResultMap">
        select * from commodity 
        where         
        <if test ="commodityName != null and commodityName != ' '">
            commodityName like CONCAT('%',#{commodityName},'%')
        </if> 
    </select>
    <select id="getShowCommodityVo" resultType="com.groupthree.ordersystem.vo.ShowCommodityVo">
        select commodityName,commodityDesc,price
        from commodity
        where commodityId=#{commodityId}
    </select>

</mapper>
