<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupthree.ordersystem.dao.OrderDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.groupthree.ordersystem.entity.Order">
        <id column="orderId" property="orderId" />
        <result column="userId" property="userId" />
        <result column="addressId" property="addressId" />
        <result column="statue" property="statue" />
        <result column="sum" property="sum" />
        <result column="createDate" property="createDate" />
        <result column="updateDate" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        orderId, userId,addressId, statue, `sum`, createDate, updateDate
    </sql>
    <select id="getOrderPage" resultType="com.groupthree.ordersystem.vo.OrderVO">
        select * from `order`
    </select>
    <select id="getOrderPageByTime" resultType="com.groupthree.ordersystem.vo.OrderVO">
        select a.orderId,b.userId,a.statue,b.realName,b.phoneNumber,c.address,a.createDate,b.updateDate
        from `order` a,`user` b,address c
        where a.userId=b.userId
        and a.addressId=c.addressId
        <if test="begintime != null">
            and a.createDate <![CDATA[>=]]> #{begintime,jdbcType=DATE}
        </if>
        <if test="overtime != null">
            and a.updateDate <![CDATA[<=]]> #{overtime,jdbcType=DATE}
        </if>
            </select>
    <select id="getOrderByUserId" resultType="com.groupthree.ordersystem.vo.UserOrderVo">
        select a.commodityName,b.count,c.createDate,c.sum
        from `commodity` a,`order_commodity` b,`order` c
        where a.commodityId=b.commodityId
        and b.orderId=c.orderId
        <if test="userId != null and userId!= ' '">
            and c.userId=#{userId,jdbcType=INTEGER}
        </if>
    </select>
</mapper>
